<section class="about hidden" id="about" appIsVisibleForScroll>
  <h2 class="about__title">Sobre mí</h2>
  <p class="about__text-about">
    Soy ingeniero de sistemas de profesión, enfocado en el desarrollo web y
    estoy apasionado por crear experiencias digitales accesibles, intuitivas y
    eficientes. Me especializo en el desarrollo con tecnologias como Angular
    presto a optimizar cada vez más del rendimiento de las soluciones
    desarrolladas. Además tengo conocimiento de backend usando el framework
    Nodejs + Express y GitHub para el manejo de versiones. <br /><br />

    Fuera del mundo digital disfruto mucho de la música, me gusta cantar, tocar
    guitarra e interpretar esas canciones que me permiten conectar mis
    emociones. También creo en los pilares de una vida integral por ello trabajo
    en mi vida espiritual constante mente leyendo, buscando contenido que pueda
    permitirme cada vez más ampliar mi nivel de consciencia.
  </p>
</section>
