@use "../../../assets/styles/breakpoint" as bp;
@use "../../../assets/styles/step-general" as g;

.formats-step {
  @include g.step-container;
  max-width: 800px;
  margin: 0 auto;

  &__header {
    @include g.step-header;
  }

  &__title {
    @include g.title-xl;
  }

  &__subtitle {
    @include g.subtitle-base;
  }

  &__container-content {
    @include g.step-container-content;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--font-size-base) * 1);

    @include bp.responsive("tablet") {
      grid-template-columns: repeat(2, 1fr);
      gap: calc(var(--font-size-base) * 1.25);
    }
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    gap: calc(var(--font-size-base) * 0.75);
    background-color: rgba(var(--color-surface), 0.7);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: calc(var(--font-size-base) * 1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba(var(--color-surface), 1);
      border-color: rgba(255, 255, 255, 0.4);
    }

    // Estado Checked
    &.checked {
      border-color: var(--color-primary-body);
      background-color: rgba(var(--color-primary-rgb), 0.1);

      & .formats-step__checkbox-text {
        color: var(--color-accent-cyan);
        font-weight: 500;
      }
    }
  }

  &__checkbox-text {
    color: var(--color-text-body);
    font-size: var(--font-size-base);
    transition: color 0.2s ease-in-out;
  }

  &__checkbox-input {
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
    accent-color: var(--color-primary-body);
  }

  &__error-message {
    @include g.error-text;
    justify-content: center;
    margin-top: calc(var(--font-size-base) * 1.5);
  }
}