<section class="experience" id="experience" appIsVisibleForScroll>
  <h2 class="experience__title">Experiencia laboral</h2>
  @for (experience of experiences; track experience) {
    <article class="experience__container">
      <h3 class="experience__role">{{ experience.role }}</h3>
      <div class="experience__middle">
        <span class="experience__company">{{ experience.company }}</span>
        <span class="experience__time">{{ experience.time }}</span>
      </div>
      <ul class="experience__functions">
        @for (function of experience.functions; track function) {
          <li class="experience__function">
            {{ function }}
          </li>
        }
      </ul>
    </article>
  }
</section>
