@use "../../../assets/styles/breakpoint.scss" as bp;

.solutions {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 240px;
    height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
  }

  &__paragraph {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 250px;
    margin-bottom: 70px;
    text-align: center;
  }

  &__project {
      height: 260px;
      width: 246px;
  }

  .carousel-control {
    &-prev{
      left: -39px;
    }
    &-next{
      right: -39px;
    }
  }

  .col-md-12, .col-md-6 {
    padding: 0;
  }

}


@include bp.responsive("tablet") {
  .solutions {
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      height: 300px !important;

    }

    &__title {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 48px;
    }

    &__paragraph {
      font-size: 20px;
      margin-bottom: 0;
    }

    &__text-container {
      place-self: center;
      width: 250px;
      grid-column: 2 / 3;
      grid-row: 1 / 1;
      margin-bottom: 90px;
    }

    &__project {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
      place-self: center;
    }

  }
}

@include bp.responsive("laptop") {
  .solutions {

    &__container {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      height: 510px !important;
      width: 520px !important;
    }

    &__title {
      padding-top: 0;
      font-size: 48px;
    }

    &__text-container {
      grid-row: 1 / 2;
      grid-column: 1 / 1;
      margin-bottom: 10px;
    }

    &__project {
      grid-row: 2 / 3;
      grid-column: 1 / 1;
      place-self: center;
      width: 520px;
      height: 300px;
    }
  }

  .row {
    height: 300px;
  }
  .carousel-control {
    &-prev{
      left: -58px !important;
    }
    &-next{
      right: -58px !important;
    }
  }

  .col-md-12, .col-md-6 {
    padding: 0;
  }
}