@if (!formInitialized) {
  <div class="brief-wizard__loading">
    <span>Cargando tu borrador...</span>
  </div>
} @else {

  <div class="brief-wizard">

    @if (currentStepIndex > 0) {
      <div class="brief-wizard__progress-bar">
        <div 
          class="brief-wizard__progress-bar-inner" 
          [style.--step-index]="currentStepIndex"
          [style.--total-steps]="totalSteps - 1"> 
          </div>
      </div>
    }

    <div class="brief-wizard__step-container">
      
      @switch (currentStepIndex) {
        
        @case (0) {
          <app-step-welcome (formSubmitted)="onWelcomeSubmit($event)" />
        }
        
        @case (1) {
          @if (currentStepFormGroup) {
            <app-step-context [contextForm]="currentStepFormGroup"></app-step-context>
          }
        }

        @case (2) {
          @if (currentStepFormGroup) {
            <app-step-personality [personalityForm]="currentStepFormGroup"></app-step-personality>
          }
        }

        @case (3) {
          @if (currentStepFormGroup) {
            <app-step-value-proposition [valuePropositionForm]="currentStepFormGroup"></app-step-value-proposition>
          }
        }

        @case (4) {
          @if (currentStepFormGroup) {
            <app-step-audience [audienceForm]="currentStepFormGroup"></app-step-audience>
          }
        }

        @case (5) {
          @if (currentStepFormGroup) {
            <app-step-competition [competitionForm]="currentStepFormGroup"></app-step-competition>
          }
        }

        @case (6) {
          @if (currentStepFormGroup) {
            <app-step-tone [toneForm]="currentStepFormGroup"></app-step-tone>
          }
        }

        @case (7) {
          @if (currentStepFormGroup) {
            <app-step-visual-style [visualStyleForm]="currentStepFormGroup"></app-step-visual-style>
          }
        }

        @case (8) {
          @if (currentStepFormGroup) {
            <app-step-references [referencesForm]="currentStepFormGroup"></app-step-references>
          }
        }

        @case (9) {
          @if (currentStepFormGroup) {
            <app-step-logo-format [logoFormatForm]="currentStepFormGroup"></app-step-logo-format>
          }
        }

        @case (10) {
          @if (currentStepFormGroup) {
            <app-step-digital-strategy [digitalStrategyForm]="currentStepFormGroup"></app-step-digital-strategy>
          }
        }

        @case (11) {
          @if (currentStepFormGroup) {
            <app-step-formats [formatsForm]="currentStepFormGroup"></app-step-formats>
          }
        }

        @case (12) {
          @if (currentStepFormGroup) {
            <app-step-additional-info [additionalInfoForm]="currentStepFormGroup"></app-step-additional-info>
          }
        }

        @case (13) {
            <app-step-final/>
        }

      }
    </div>

    @if (currentStepIndex > 0 && currentStepIndex < 13) {
    <footer 
      class="brief-wizard__navigation" 
      role="navigation"
      aria-label="Controles del formulario">
      
      @if (currentStepIndex > 0 && currentStepIndex < 13) {
        <button 
          type="button" 
          (click)="goToPreviousStep()"
          class="brief-wizard__nav-button brief-wizard__nav-button--prev">
          Volver
        </button>
      } @else {
        <div></div>
      }

      @if (currentStepIndex > 0 && currentStepIndex < 12) {
        <button 
          type="button" 
          (click)="goToNextStep()"
          class="brief-wizard__nav-button brief-wizard__nav-button--next">
          Siguiente
        </button>
      }
      
      @if (currentStepIndex === 12) {
         <button 
          type="button" 
          (click)="goToNextStep()" 
          class="brief-wizard__nav-button brief-wizard__nav-button--finish">
          Finalizar y Enviar
        </button>
      }

    </footer>
    }
  </div>
}