@use "../../../assets/styles/step-general" as g;

.tone-step {
  @include g.step-container;
  max-width: 800px;
  margin: 0 auto;

  &__header {
    @include g.step-header;
  }

  &__title {
    @include g.title-xl;
  }

  &__subtitle {
    @include g.subtitle-base;
  }

  &__container-content {
    @include g.step-container-content;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--font-size-base) * 2.5);
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__label {
    @include g.label-text;
  }

  &__help-text {
    @include g.help-text;
  }

  &__input {
    @include g.input-base;
  }

  &__textarea {
    @include g.textarea-base;
  }

  &__error-message {
    @include g.error-text;
  }
}