@use "../../../assets/styles/breakpoint.scss" as bp;

.about {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  &__container {
    width: 240px;
  }

  &__title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #fff;
  }

  &__text-about {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
  }
}

@include bp.responsive("movil m") {
  .about {
    &__container {
      width: 280px;
    }
  }
}

@include bp.responsive("tablet") {
  .about {

    &__title {
      font-size: 48px;
    }

    &__text-about {
      font-size: 20px;
    }
  }
}

@include bp.responsive("laptop") {
  .about {

    &__title {
      margin-top: 100px;
      font-size: 48px;
    }

    &__text-about {
      font-size: 20px;
    }
  }
}
