<section class="about" id="about" appAnimateOnScroll>
  <div class="about__container container-generic">
    <h2 class="about__title">Nosotros</h2>

    <div class="about__container-text-about">

      <p class="about__text-about">
        Somos un equipo creativo e innovador, apasionado por construir experiencias digitales que combinan diseño
        intuitivo con funcionalidad elegante. Nuestro enfoque está en crear landing pages, sitios web y software a
        medida que ayudan a las empresas a destacar y crecer en el mundo digital.
      </p>

      <p class="about__text-about">Lo que nos diferencia es nuestra capacidad de integrar diseño y tecnología de forma
        armoniosa, entregando soluciones que no solo se ven bien, sino que funcionan de manera impecable y además se
        apoyan en la AI para la automatización.
      </p>

      <p class="about__text-about">Mirando hacia el futuro, estamos incorporando automatización con inteligencia
        artificial para optimizar los procesos comerciales. Nuestro objetivo es transformar las interacciones digitales
        en experiencias más inteligentes y eficientes.
      </p>

      <p class="about__text-about">En esencia, creemos en la simplicidad, la creatividad y la innovación como base de
        todo lo que construimos.
      </p>

    </div>
  </div>
</section>