/* You can add global styles to this file, and also import other style files */
/* Agrega más definiciones @font-face si tienes más estilos (italic, bold italic, etc.) */

/* Establece la fuente como la predeterminada para el cuerpo del documento */
@import "assets/styles/fonts";
@import "assets/styles/animation";
@import "assets/styles/scrollbar";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    233.19% 107.27% at 50.05% 104.78%,
    #000000 1%,
    #0fd7cb 69%,
    #000000 100%
  );
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
}

[appAnimateOnScroll] {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[appAnimateOnScroll].visible {
  opacity: 1;
  transform: translateY(0);
}