$breakpoints: (
  "movil s": 320px,
  "movil m": 375px,
  "movil l": 425px,
  "tablet": 768px,
  "laptop": 1024px,
  "laptop l": 1440px,
  "4k": 2560px,
) !default;

@mixin responsive($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@include responsive("tablet") {
  .container-generic {
    width: 600px !important;
    height: 600px !important;
  }
}

@include responsive("laptop") {
  .container-generic {
    width: 730px !important;
  }
}