@use '../../assets/styles/breakpoint' as bp;

.home {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__phrase {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
    width: 274px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    width: 170px;
  }

  &__button {
    border: none;
    width: 200px;
    height: 50px;
    background: #0fd7cb;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    animation: pulse 1.5s infinite alternate ease-in-out;

    &:hover {
      transform: scale(1.06);
    }
  }
}

@include bp.responsive("tablet") {
  .home {

    &__phrase {
      width: 600px;
      margin: 0 0 20px;

    }

    &__description {
      width: 300px;
      margin: 0 0 20px;
    }
  }
}

@include bp.responsive("laptop") {
  .home {
    &__phrase {
      font-size: 36px;
      width: 730px;
      margin: 0 0 20px;

    }

    &__description {
      font-size: 18px;
      width: 530px;
      margin: 0 0 20px;
    }
  }
}
