@use "../../../../assets/styles/breakpoint" as bp;

.navbar {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding: 0 20px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 4;
  transform: translateY(-100%);
  opacity: 0;
  animation: slideDown 1s ease-in-out both;

  &__menu-logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-bottom: 5px;

    &-letter {
      color: #ffffff;
      font-weight: 600;
      font-size: 20px;
      padding-left: 20px;
    }
  }

  &__button--conversemos {
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 10px;
    color: #000;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    width: 85px;
    height: 27px;
    animation: pulse 1.5s infinite alternate ease-in-out;

    &:hover {
      transform: scale(1.06);
    }
  }
}

@include bp.responsive("laptop") {
  .navbar {
    height: 86px;
    padding: 0px 60px;

    &__logo {
      width: 145px;

      &-letter {
        font-size: 26px;
        padding-left: 25px;
      }
    }

    &__button--conversemos {
      font-size: 14px;
      width: 145px;
      height: 40px;
    }
  }
}
